//colores
$colorPrimario: #333333;
$contraste1Primario: #6FB9A3;
$contraste2Primerio: #63666A;
$colorManifiesto: #4FA172;
$blancoPrim: #FFFFFF;

//tipografias
$tipoPrincipal: 'Bebas Neue', cursive;
$tipoSecundario:  'Roboto', sans-serif;
