@import 'variables';

.footer{
    width: 100%;
    height:fit-content;
    background-color: $colorPrimario;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: .5rem;
    .ContEnlaces{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;
        .derechos{
            height: fit-content;
            font-size: 1rem;
            color: $blancoPrim;
            font-family: $tipoSecundario;
            margin: 0;
        }
    }
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 375px){
    .footer{
        background: $blancoPrim;
        .ContEnlaces{
            padding: .2rem;
            .derechos{
                color: $colorPrimario;
            }
        }
    }
}
